* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

.App {
  background-color: #282c34;
  display: flex;
  justify-content: space-around;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}